#Agenda
{
    padding: 20px;
    background-color: rgba(44, 40, 40, 0.788);
    color: white;
}
#form
{
    padding: 20px;
    background-color: rgba(44, 40, 40, 0.788);
    color: white;
}
#Titulo
{
    background-color: black;
    color: white;
}